html{
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.holiday-parent{
width: 65rem;
height: 45rem;
}
.holiday-gallery{
    position: relative;
    margin: 2rem;
}
.holiday{
    height: 20rem;
    position: absolute;
}

.grinch{
    top:5rem;
    left: 90%;

}

.alvin{
    top: 2rem;
    right: 0;
}
.peppa{
    top: -2rem;
    right: 0;
}

.holiday:hover{ 
    transform:scale (1.3);
    outline: 1rem solid palevioletred;
    z-index: 2;
}

.holiday-gallery:hover .holiday:not(:hover) {
    transform:scale(0.8);
    opacity: 0.5;
}
.container img {
    width: 100%;
    height: auto;
  }
  
  .container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #2189ff;
    color: rgb(245, 224, 131);
    font-size: 24px;
    padding: 16px 30px;
    border: 2px solid #d15922;
    cursor: pointer;
    border-radius: 12px;
    text-align: center;
  }
  
  .container .btn:hover {
    background-color: rgb(33, 77, 160);
    color: rgb(243, 206, 39);
  }
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.btn {
  background-color: pink;
  border: 3px solid #2185ff;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.5;
  transition: 0.3s;
}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.btn {
  background-color: pink;
  border: 3px solid #2185ff;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.5;
  transition: 0.3s;
}

.btn:hover {opacity: 1}
</style>
</head>
<body>

<h2>Fading Buttons - "Fade in Effect"</h2>

<button class="btn">Fun!</button>

</body>
</html>